
.body{
    margin: 2%;
}

.mat-card{
    width: 80%;

    display: block;
    margin-left: auto;
    margin-right: auto
}

.mat-card-header{
    display:block;
    margin: 0px;
}
.mat-form-field{
    padding: 2%;
}

.example-full-width{
    width: 95%;
}

.addMore{
    float: right;
    width: 100%;
}

.pt-0{
    border-top: 2px solid lightgray;
    padding-top: 1%;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 100%;
    float: right;
}

.boton{
    
    float: right;
}

p{
    
    font-family: Roboto,"Helvetica Neue",sans-serif;
}