<div class="origin">

    <mat-toolbar color="primary">
        {{title | uppercase}}

        <div class="buttons">
            <button mat-button routerLink="newSmoothie">
                <i class="material-icons">add_to_photos</i>
                Add Smoothie
            </button> 
            <button mat-button routerLink="smoothie">
                <i class="material-icons">local_drink</i>
                Smoothies
            </button>   
            <button mat-button routerLink="home">
                <i class="material-icons">home</i>
                Accueil
            </button>   
        </div>
    </mat-toolbar>
</div>