<div class="origin">

    <div class="body">

        <p>
            In SmoothieLand you can customize your smoothie!
        </p>

        <mat-card>Select ingredients</mat-card>

        <mat-selection-list #ingredients color="primary">
            <mat-list-option *ngFor="let ingredient of smoothieIngredients">
                {{ingredient}}
            </mat-list-option>
        </mat-selection-list>
        
        <p>
                Ingredients selected: {{ingredients.selectedOptions.selected.length}}
                Ingredients selected: {{ingredients.selectedOptions.name}}
        </p>
    
        <div>
            <p>Available smoothies:</p>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Add smoothies</mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </div>

</div>
