<div class="origin">

    <div class="body">

        <p>
            In SmoothieLand you can customize your smoothie!
        </p>

        <mat-card>Select ingredients</mat-card>

        <mat-selection-list #ingredients color="primary">
            <mat-list-option *ngFor="let ingredient of smoothieIngredients">
                {{ingredient}}
            </mat-list-option>
        </mat-selection-list>
        
        <p>
                Ingredients selected: {{ingredients.selectedOptions.selected.length}}
                Ingredients selected: {{ingredients.selectedOptions.name}}
        </p>
    
            <form class="example-form">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Smoothie" [(ngModel)]="smoothie" name="smoothie">
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Leave a comment"></textarea>
                    </mat-form-field>
                </form>
                
                <p>
                    Your choice is: {{smoothie}}
                </p>
    </div>

</div>
